# Lecture 5-1: Dataframe

* Pandas is an open source Python library for data analysis. It is very powerful toolkit for reading, filtering, manipulating and exporting data.
  https://pandas.pydata.org/
* Since Pandas is not part of the Python standard library, you have to first tell Python to load the library.
* When working with Pandas functions, it is common practice to give pandas the alias pd.

In [2]:
import pandas as pd

## Loading dataset

* With the pandas library loaded, we can use the read_csv function to load a CSV data file.
* You can also load different types of data like JSON, HTML, EXCEL, SAS, etc.
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html
* Let's load data about Korean stock market data (from http://data.krx.co.kr/contents/MDC/MAIN/main/index.cmd)

In [4]:
df = pd.read_csv('./stock_domestic.csv')

In [6]:
df

          티커     회사명     시가     고가     저가     종가      거래량   등락률   시장
0     060310      3S   1578   1592   1548   1561  194,289 -1.89  코스닥
1     095570  AJ네트웍스   4590   4630   4560   4620   70,335  1.43  코스피
2     006840   AK홀딩스   8320   8350   8080   8080   12,868 -1.58  코스피
3     054620     APS   3790   3940   3710   3770   15,200  1.89  코스닥
4     265520   AP시스템  19570  19700  18890  19000  119,396 -3.11  코스닥
...      ...     ...    ...    ...    ...    ...      ...   ...  ...
2864  000540    흥국화재   3430   3480   3395   3405   40,624 -0.44  코스피
2865  000545   흥국화재우   7090   7270   7080   7270    2,302  2.54  코스피
2866  003280    흥아해운   1553   1605   1553   1603  928,194  2.17  코스피
2867  037440      희림   4255   4360   4150   4340   42,669  2.00  코스닥
2868  238490      힘스   3555   3590   3490   3545   32,975  0.71  코스닥

[2869 rows x 9 columns]

## DataFrame

* Pandas DataFrame is two-dimensional tabular data structure with labeled axes (rows and columns).
* Every DataFrame object has a shape attribute that will give us the number of rows and columns of the DataFrame.

In [8]:
df.shape

(2869, 9)

* To get the list of which information it contains, we look at the columns.

In [10]:
df.columns

Index(['티커', '회사명', '시가', '고가', '저가', '종가', '거래량', '등락률', '시장'], dtype='object')

* You can check the data types of each column by using the dtypes attribute.

In [14]:
df

          티커     회사명     시가     고가     저가     종가      거래량   등락률   시장
0     060310      3S   1578   1592   1548   1561  194,289 -1.89  코스닥
1     095570  AJ네트웍스   4590   4630   4560   4620   70,335  1.43  코스피
2     006840   AK홀딩스   8320   8350   8080   8080   12,868 -1.58  코스피
3     054620     APS   3790   3940   3710   3770   15,200  1.89  코스닥
4     265520   AP시스템  19570  19700  18890  19000  119,396 -3.11  코스닥
...      ...     ...    ...    ...    ...    ...      ...   ...  ...
2864  000540    흥국화재   3430   3480   3395   3405   40,624 -0.44  코스피
2865  000545   흥국화재우   7090   7270   7080   7270    2,302  2.54  코스피
2866  003280    흥아해운   1553   1605   1553   1603  928,194  2.17  코스피
2867  037440      희림   4255   4360   4150   4340   42,669  2.00  코스닥
2868  238490      힘스   3555   3590   3490   3545   32,975  0.71  코스닥

[2869 rows x 9 columns]

In [12]:
df.dtypes

티커      object
회사명     object
시가       int64
고가       int64
저가       int64
종가       int64
거래량     object
등락률    float64
시장      object
dtype: object

### Subsetting columns and rows

* Today's data often has too many cells to make sense of all the printed information. Instead, the best way to look at our data is to inspect it in parts by looking at various subsets of the data.
* We already saw that we can use the **head** method of a dataframe to look at the first five rows of our data. This is useful to see if our data loaded properly and to get a sense of each of the columns, its name, and its contents.
* Sometimes, however, we may want to see only particular rows, columns, or values from our data.

* If we want only a specific column from our data, we can access the data using square brackets.

In [22]:
df.head()

       티커     회사명     시가     고가     저가     종가      거래량   등락률   시장
0  060310      3S   1578   1592   1548   1561  194,289 -1.89  코스닥
1  095570  AJ네트웍스   4590   4630   4560   4620   70,335  1.43  코스피
2  006840   AK홀딩스   8320   8350   8080   8080   12,868 -1.58  코스피
3  054620     APS   3790   3940   3710   3770   15,200  1.89  코스닥
4  265520   AP시스템  19570  19700  18890  19000  119,396 -3.11  코스닥

In [24]:
df.tail()

          티커    회사명    시가    고가    저가    종가      거래량   등락률   시장
2864  000540   흥국화재  3430  3480  3395  3405   40,624 -0.44  코스피
2865  000545  흥국화재우  7090  7270  7080  7270    2,302  2.54  코스피
2866  003280   흥아해운  1553  1605  1553  1603  928,194  2.17  코스피
2867  037440     희림  4255  4360  4150  4340   42,669  2.00  코스닥
2868  238490     힘스  3555  3590  3490  3545   32,975  0.71  코스닥

* To specify multiple columns by the column name, we need to pass in a list between the square brackets

In [32]:
df

          티커     회사명     시가     고가     저가     종가      거래량   등락률   시장
0     060310      3S   1578   1592   1548   1561  194,289 -1.89  코스닥
1     095570  AJ네트웍스   4590   4630   4560   4620   70,335  1.43  코스피
2     006840   AK홀딩스   8320   8350   8080   8080   12,868 -1.58  코스피
3     054620     APS   3790   3940   3710   3770   15,200  1.89  코스닥
4     265520   AP시스템  19570  19700  18890  19000  119,396 -3.11  코스닥
...      ...     ...    ...    ...    ...    ...      ...   ...  ...
2864  000540    흥국화재   3430   3480   3395   3405   40,624 -0.44  코스피
2865  000545   흥국화재우   7090   7270   7080   7270    2,302  2.54  코스피
2866  003280    흥아해운   1553   1605   1553   1603  928,194  2.17  코스피
2867  037440      희림   4255   4360   4150   4340   42,669  2.00  코스닥
2868  238490      힘스   3555   3590   3490   3545   32,975  0.71  코스닥

[2869 rows x 9 columns]

In [30]:
df['종가']

0        1561
1        4620
2        8080
3        3770
4       19000
        ...
2864     3405
2865     7270
2866     1603
2867     4340
2868     3545
Name: 종가, Length: 2869, dtype: int64

In [34]:
df.head()

       티커     회사명     시가     고가     저가     종가      거래량   등락률   시장
0  060310      3S   1578   1592   1548   1561  194,289 -1.89  코스닥
1  095570  AJ네트웍스   4590   4630   4560   4620   70,335  1.43  코스피
2  006840   AK홀딩스   8320   8350   8080   8080   12,868 -1.58  코스피
3  054620     APS   3790   3940   3710   3770   15,200  1.89  코스닥
4  265520   AP시스템  19570  19700  18890  19000  119,396 -3.11  코스닥

In [38]:
df[['회사명', '종가']]

         회사명     종가
0         3S   1561
1     AJ네트웍스   4620
2      AK홀딩스   8080
3        APS   3770
4      AP시스템  19000
...      ...    ...
2864    흥국화재   3405
2865   흥국화재우   7270
2866    흥아해운   1603
2867      희림   4340
2868      힘스   3545

[2869 rows x 2 columns]

In [40]:
df[['종가']]

         종가
0      1561
1      4620
2      8080
3      3770
4     19000
...     ...
2864   3405
2865   7270
2866   1603
2867   4340
2868   3545

[2869 rows x 1 columns]

* We can use the loc attribute on the dataframe to subset rows based on the index label.

In [44]:
df.loc[0]

티커      060310
회사명         3S
시가        1578
고가        1592
저가        1548
종가        1561
거래량    194,289
등락률      -1.89
시장         코스닥
Name: 0, dtype: object

In [46]:
df.loc[[0, 1, 2]]

       티커     회사명    시가    고가    저가    종가      거래량   등락률   시장
0  060310      3S  1578  1592  1548  1561  194,289 -1.89  코스닥
1  095570  AJ네트웍스  4590  4630  4560  4620   70,335  1.43  코스피
2  006840   AK홀딩스  8320  8350  8080  8080   12,868 -1.58  코스피

In [48]:
df.loc[range(0,100)]

        티커     회사명     시가     고가     저가     종가        거래량   등락률   시장
0   060310      3S   1578   1592   1548   1561    194,289 -1.89  코스닥
1   095570  AJ네트웍스   4590   4630   4560   4620     70,335  1.43  코스피
2   006840   AK홀딩스   8320   8350   8080   8080     12,868 -1.58  코스피
3   054620     APS   3790   3940   3710   3770     15,200  1.89  코스닥
4   265520   AP시스템  19570  19700  18890  19000    119,396 -3.11  코스닥
..     ...     ...    ...    ...    ...    ...        ...   ...  ...
95  376270   HEM파마  49950  50000  48500  49000     31,322 -2.39  코스닥
96  097230   HJ중공업  25400  26300  24450  26250  2,518,248  6.49  코스피
97  195940   HK이노엔  53300  54800  53100  53900    241,272  2.08  코스닥
98  014790  HL D&I   2505   2570   2505   2550     34,276  1.59  코스피
99  028300     HLB  50300  50700  49600  50600    458,541 -0.78  코스닥

[100 rows x 9 columns]

* iloc is used to subset by the row index number.

In [50]:
df.iloc[[0, 1, 2]]

       티커     회사명    시가    고가    저가    종가      거래량   등락률   시장
0  060310      3S  1578  1592  1548  1561  194,289 -1.89  코스닥
1  095570  AJ네트웍스  4590  4630  4560  4620   70,335  1.43  코스피
2  006840   AK홀딩스  8320  8350  8080  8080   12,868 -1.58  코스피

In [52]:
df.iloc[[-1]]

          티커 회사명    시가    고가    저가    종가     거래량   등락률   시장
2868  238490  힘스  3555  3590  3490  3545  32,975  0.71  코스닥

In [54]:
df.loc[[-1]]

KeyError: "None of [Index([-1], dtype='int64')] are in the [index]"

* If we just want to get the first two columns using the loc or iloc syntax, we can write

In [60]:
df.loc[:, ['회사명', '시가']] # df[['회사명', '시가']]

         회사명     시가
0         3S   1578
1     AJ네트웍스   4590
2      AK홀딩스   8320
3        APS   3790
4      AP시스템  19570
...      ...    ...
2864    흥국화재   3430
2865   흥국화재우   7090
2866    흥아해운   1553
2867      희림   4255
2868      힘스   3555

[2869 rows x 2 columns]

* You can subset columns through generating range list.

In [64]:
df.iloc[:, range(3,6)]

         고가     저가     종가
0      1592   1548   1561
1      4630   4560   4620
2      8350   8080   8080
3      3940   3710   3770
4     19700  18890  19000
...     ...    ...    ...
2864   3480   3395   3405
2865   7270   7080   7270
2866   1605   1553   1603
2867   4360   4150   4340
2868   3590   3490   3545

[2869 rows x 3 columns]

* We can subset a dataframe with a boolean subsetting.

In [68]:
df[df['등락률']>20]

,티커,회사명,시가,고가,저가,종가,거래량,등락률,시장
735,031860,디에이치엑스컴퍼니,534,690,534,690,"5,998,151",29.94,코스닥
772,217500,러셀,1945,2520,1891,2520,"4,513,287",29.90,코스닥
881,012860,모베이스전자,2210,2540,2120,2540,"40,207,365",29.79,코스닥
1017,065170,비엘팜텍,422,544,421,544,"2,458,619",29.83,코스닥
1035,069540,빛과전자,1200,1433,1150,1433,"34,252,872",29.92,코스닥
1037,266170,뿌리깊은나무들,3420,3420,3420,3420,2,900.00,코넥스
1460,052770,아이톡시,1065,1071,916,1071,"2,628,482",29.98,코스닥
1489,354320,알멕,28900,36900,27500,36900,"2,442,212",29.93,코스닥
1496,476830,알지노믹스,162200,199500,159100,193900,"2,035,136",22.88,코스닥
1512,397810,애드포러스,6890,8950,6890,8950,"847,823",29.90,코스닥
1610,036170,에이치엠넥스,1432,1432,1432,1432,"1,920,055",29.95,코스닥
1996,088290,이원컴포텍,759,988,759,988,"3,204,037",30.00,코스닥
2130,229000,젠큐릭스,1527,2000,1527,2000,"1,363,680",29.70,코스닥
2513,119500,포메탈,4050,4945,3950,4945,"9,174,052",29.96,코스닥
2667,017960,한국카본,31800,38950,31450,38400,"4,608,293",22.29,코스피
2758,272210,한화시스템,62300,77300,61700,76900,"21,538,879",27.53,코스피

In [74]:
df[df['회사명']=='삼성SDI']

          티커    회사명      시가      고가      저가      종가      거래량   등락률   시장
1061  006400  삼성SDI  272000  272000  265250  267500  433,710 -1.29  코스피

In [78]:
df[df['회사명'].str.contains('삼성')].head()

          티커     회사명      시가      고가      저가      종가      거래량   등락률   시장
1059  028050   삼성E&A   24200   24850   24100   24600  651,705  2.50  코스피
1060  448730  삼성FN리츠    4800    4840    4770    4840   73,914  0.62  코스피
1061  006400   삼성SDI  272000  272000  265250  267500  433,710 -1.29  코스피
1062  006405  삼성SDI우  158900  158900  154300  155700    6,668 -2.08  코스피
1063  006660    삼성공조   13480   13500   13210   13480   53,740  0.00  코스피

* You can insert a new column in the dataframe.

In [84]:
df['날짜'] = "2026-01-09"

In [86]:
df.head()

       티커     회사명     시가     고가     저가     종가      거래량   등락률   시장          날짜
0  060310      3S   1578   1592   1548   1561  194,289 -1.89  코스닥  2026-01-09
1  095570  AJ네트웍스   4590   4630   4560   4620   70,335  1.43  코스피  2026-01-09
2  006840   AK홀딩스   8320   8350   8080   8080   12,868 -1.58  코스피  2026-01-09
3  054620     APS   3790   3940   3710   3770   15,200  1.89  코스닥  2026-01-09
4  265520   AP시스템  19570  19700  18890  19000  119,396 -3.11  코스닥  2026-01-09

### Describe your data

* describe() is used to view some basic statistical details like percentile, mean, std etc. of a dataframe.

In [88]:
df.describe()

                 시가            고가            저가            종가          등락률
count  2.869000e+03  2.869000e+03  2.869000e+03  2.869000e+03  2869.000000
mean   2.522028e+04  2.579672e+04  2.470339e+04  2.549357e+04     0.965256
std    8.503668e+04  8.700200e+04  8.345842e+04  8.604338e+04    17.243195
min    0.000000e+00  0.000000e+00  0.000000e+00  2.900000e+01   -40.820000
25%    2.075000e+03  2.100000e+03  2.050000e+03  2.160000e+03    -0.710000
50%    5.450000e+03  5.550000e+03  5.360000e+03  5.670000e+03     0.180000
75%    1.619000e+04  1.660000e+04  1.590000e+04  1.612000e+04     1.540000
max    1.875000e+06  1.895000e+06  1.834000e+06  1.885000e+06   900.000000

## Further reading and resources

* Python Data Science Handbook https://www.oreilly.com/library/view/python-data-science/9781491912126/
* Pandas for Everyone https://www.amazon.com/Pandas-Everyone-Analysis-Addison-Wesley-Analytics-ebook/dp/B0789WKTKJ
* Kaggle Courses https://www.kaggle.com/learn/pandas
* W3School tutorial https://www.w3schools.com/python/pandas/default.asp